VITE_EVENTO_API_URL=https://script.google.com/macros/s/SEU_DEPLOYMENT_ID/exec
VITE_EVENTO_API_TOKEN=SUBSTITUIR_PELO_APP_TOKEN_DO_APPS_SCRIPT
VITE_EVENTO_CHECKIN_USERS=[{"login":"admin","senha":"Admin@2026","fiscal":"Administrador"},{"login":"portaria01","senha":"Gutemberg@01","fiscal":"Portaria 01"},{"login":"portaria02","senha":"Gutemberg@02","fiscal":"Portaria 02"},{"login":"portaria03","senha":"Gutemberg@03","fiscal":"Portaria 03"},{"login":"portaria04","senha":"Gutemberg@04","fiscal":"Portaria 04"},{"login":"portaria05","senha":"Gutemberg@05","fiscal":"Portaria 05"},{"login":"portaria06","senha":"Gutemberg@06","fiscal":"Portaria 06"}]
